tags
*.so
*.o
*.swp
*.gcda
*.gcno
*.gcov
*~
last
# meson
build*/
builddir/
subprojects/re2c-*/
subprojects/tcl/
subprojects/tcl-*/
subprojects/libtommath-*/
subprojects/hedley-*/
subprojects/packagecache/
subprojects/.wraplock
generic/pem.c
doc/tomcrypt.html
doc/tomcrypt.pdf
doc/tomcrypt.n
doc/.build/
