[submodule "teabase"]
	path = teabase
	url = https://github.com/cyanogilvie/teabase
	shallow = true
[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt
