[submodule "tclconfig"]
	path = tclconfig
	url = https://github.com/cyanogilvie/tclconfig.git
[submodule "teabase"]
	path = teabase
	url = https://github.com/cyanogilvie/teabase
[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt
[submodule "deps/tomsfastmath"]
	path = deps/tomsfastmath
	url = https://github.com/libtom/tomsfastmath
